<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Deposit</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Deposit Money</h1>
<form action="#" th:action="@{/deposit}" method="post">
  <label for="accountNumber">Select Account:</label>
  <select name="accountNumber" id="accountNumber">
    <option th:each="account : ${accounts}" th:value="${account.accountNumber}" th:text="${account.accountHolder}"></option>
  </select>

  <label for="amount">Amount:</label>
  <input type="number" id="amount" name="amount" required>

  <button type="submit">Deposit</button>
</form>

</body>
</html>
