<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
  <h1>Welcome to Mulamu Bank</h1>
  <p>Your trusted banking partner.</p>
  <div class="menu">
    <a href="/list" class="btn">View All Accounts</a>
    <a href="/create" class="btn">Create New Account</a>
    <a href="/deposit" class="btn">Deposit</a>
    <a href="/withdraw" class="btn">Withdraw</a>
    <a href="/transfer" class="btn">Transfer Money</a>
    <a href="/details" class="btn">Find Account</a>
  </div>
</div>
</body>
</html>
